html {
  font-family: "Nunito Sans", sans-serif;
  color: #003354;
}

header {
  position: relative;
  display: block;
}

nav li {
  list-style-type: none;
}

a {
  color: #003354;
  display: block;
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: #003354;
  border: none;
}

.current {
  background-color: #92b4d7;
  color: #fff;
  border-radius: 4px;
}

.banner {
  text-align: center;
  position: relative;
}

.banner-content {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  max-height: 400px;
  overflow: hidden;
}

.transparent-white {
  background-color: rgba(255,255,255,.75);
  color: #003354;
  border-radius: 10px;
}

.lightblue {
  background-color: #92b4d7;
  color: #fff;
}

.table-icon {
  max-height: 3em;
}

.darkblue {
  background-color: #003354;
  color: #fff;
}

.teal {
  background-color: #226170;
  color: #fff;
}

.green {
  background-color: #98ca3d;
  color: #fff;
  border-radius: 4px;
  border: none;
}

.logo {
  max-height: 3em;
}

.btn:hover {
  background-color: #003354;
}

.staff-photo {
  max-height: 25em;
  max-width: 20em;
}

.custom-plan {
  max-width: 250px;
}

.white {
  background-color: #fff;
  color: #003354;
  border-radius: 10px;
}

.partner-logo {
  max-width: 205px;
  max-height: 400px;
}

input,
textarea,
select,
[type="radio"] + label::before,
[type="checkbox"] + label::before {
  border: 2px solid #003354;
}

fieldset {
  border-top: none;
}

.textbox {
  height: 10em;
}

nav li {
  width: 100%;
}

@media only screen and (min-width: 38em) {

  .logo-left {
    text-align: left;
  }

  nav {
    text-align: right;
  }

  nav li {
    width: auto;
  }
}
